#admin-section {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    width: 100%;
    min-height: 100vh;
    gap: 1rem;
}

#admin-section .admin-select-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#admin-section .admin-select-container .admin-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    color: white;
    min-height: 150px;
    font-size: 1.5rem;
    text-align: center;
    gap: .5rem
}

#admin-section .admin-select-container .admin-select i {
    font-size: 2.5rem;
}


#admin-section .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#admin-section main table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#admin-section table thead {
    background: var(--second-color);
}

#admin-section table thead th {
    padding: 1rem 0;
}

#admin-section table th,
#admin-section table td {
    border: none;
    padding: 0.5rem;
}

#admin-section table tr {
    border-bottom: 1px solid var(--second-color);
}

table .col-id {
    width: 5%;
}

table .col-category {
    width: 15%;
}

table .col-name,
table .col-title {
    width: 20%;
}

table .col-desc {
    width: 25%;
}

table .col-price,
table .col-author {
    width: 10%;
}

table .col-stock,
table .col-publish-date {
    width: 10%;
}

table .col-action {
    width: 15%;
}

#admin-section .action-btn {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    display: inline-block;
    margin: .25rem

}

@media (max-width: 1058px) {

    #admin-section table td {
        border: none;
        padding: 1rem .5rem;
    }

    table .col-id {
        display: none;
    }

    table .col-action {
        width: 20%;
    }

}

@media (max-width: 991px) {
    .product-container .product-image-container .product-image {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #admin-section .admin-select-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    table .col-stock,
    table .col-price,
    table .col-category {
        display: none;
    }

    table .col-desc {
        width: 50%;
    }

    table .col-action {
        width: 25%;
    }
}

@media (max-width: 360px) {


    table .col-category,
    table .col-desc {
        display: none;
    }

    table .col-name {
        width: 75%;
    }

    table .col-action {
        width: 25%;
    }
}
