#profile-section {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    width: 100%;
    min-height: 100vh;
    gap: 1rem;
}

#profile-section .head {
    display: flex;
    justify-content: space-between;
}