/* Variables */
:root {
    --main-color: #bc9667;
    --second-color: #edeae3;
    --text-color: #1b1b1b;
    --text-white: #fff;

    --bg-color: #fff;
    --category-color: #ffa02a;


    /* Box Shadow */
    --box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, .25);

    /* Font Family */
    --quicksand-font: 'Quicksand', sans-serif;
}

* {
    font-family: var(--quicksand-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
}


.delete {
    background-color: #cc0202;
}

.edit {
    background-color: #ffd012;
}

select {
    font-size: 1.25rem;
    padding: .2rem .5rem;
    border-radius: .25rem;
    border: 2px solid var(--second-color);
    outline: none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form .form-row {
    display: flex;
    flex-direction: column;
}

form .form-row label {
    font-size: 1.25rem;
}

input[type="submit"] {
    border: none;
    font-size: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
textarea {
    font-size: 1.25rem;
    padding: .1rem .5rem;
    border-radius: .25rem;
    border: 2px solid var(--second-color);
    outline: none;
}

section {
    padding: 4rem 8rem;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
}

header.shadow {
    background: var(--text-color);
    box-shadow: var(--box-shadow);
}

.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    font-weight: 700;
}

.highlight-brand {
    color: var(--main-color);
    font-weight: bold;
}


.logo img {
    width: 60px;
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar a:hover {
    background: var(--main-color);
    border-radius: 0.2rem;
    transition: 0.2s all linear;
}

.header-icon {
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
}

.header-icon i {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.header-icon span {
    font-size: 1rem;
}

.header-icon .bx {
    color: var(--bg-color);
}

.header-icon .bx:hover {
    color: var(--main-color);
}

#menu-icon {
    color: var(--bg-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}

.search-box {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    background: var(--bg-color);
    width: 100%;
}

.search-box.active {
    top: 110%;
    box-shadow: var(--box-shadow);
    transition: 0.2s all linear;
}

.search-box input {
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: var(--main-color);
}

.search-box input::placeholder {
    font-size: 1rem;
    font-weight: 500;
}


.btn {
    padding: 10px 40px;
    border-radius: .25rem;
    background: var(--main-color);
    color: var(--text-white);
    font-weight: 500;
}

.btn:hover {
    background: #8a6f4d;
}

.btn:disabled {
    background: #edeae3;
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form .form-row {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

form .form-row label {
    font-size: 1.25rem;
}

form .form-row input {
    font-size: 1rem;
    padding: 0.35rem 0.5rem;
    border-radius: 0.25rem;
    line-height: 1.5;
    border: 2px solid var(--second-color);
    outline: none;
}

form .form-checkbox {
    flex-direction: row;
    gap: 1rem;
}

form .form-checkbox label {
    font-size: 1rem;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.footer-box h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box p {
    font-size: 0.938rem;
    margin-bottom: 10px;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social a .bx {
    font-size: 24px;
    color: var(--text-color);
    padding: 10px;
    background: var(--second-color);
    border-radius: 0.2rem;
}

.social a .bx:hover {
    background: var(--main-color);
    color: var(--bg-color);
}

.footer-box h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box li a {
    color: var(--text-color);
}

.footer-box li a:hover {
    color: var(--main-color);
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.contact span {
    display: flex;
    align-items: center;
}

.contact i {
    font-size: 20px;
    margin-right: 1rem;
}

.copyright {
    padding: 20px;
    text-align: center;
    background: var(--second-color);
}

@media (max-width: 570px) {
    .social {
        justify-content: center;
    }
}

@media (max-width: 520px) {
    .contact span {
        justify-content: center;
    }
}